

.LinkItemsContainer {
    padding: 10px;
}


  .btn-container {
    display: flex;
    justify-content: space-evenly;
  }

  .links-btn{
      height: 40px;
      margin-left: 10px;
  }

  .file-link {
    word-break: break-all;
  }