

.LinkItemsContainer {
    padding: 10px;
    background-color: #434343;
    border-radius: 0.5em;
    margin: 0.5em;
}

.LinkItem {
    min-height: 50px;
    text-align:left;
}

.TitleItem {
    display: flex;
    justify-content: space-between;
}

.dot {
    margin-right: 10px;
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .btn-container {
    display: flex;
    justify-content: space-evenly;
  }

  .links-btn{
      height: 40px;
      margin-left: 10px;
  }

  .fileLinks{
        /* margin-top: 10px; */
        text-align: left;
        background-color: #232323;
        border-radius: 0.5em;
        margin: 0.25em;
  }

  .file-link {
    word-break: break-all;
  }

  .resolution-badge {
      margin-left: 1em;
  }